FrontDesk.Data/Web References/FileDataService/filedataservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://FrontDesk/WebServices" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://FrontDesk/WebServices" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://FrontDesk/WebServices">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="LoadFileData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadFileDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadFileDataResult" type="s0:DataEnvelope" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DataEnvelope">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServiceTicket" type="s0:ServiceTicket" />
      <s:complexType name="ServiceTicket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ident" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="HostAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="CommitData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommitDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="CopyFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="destID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="srcID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CopyFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="s0:ServiceTicket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType />
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </types>
  <message name="LoadFileDataSoapIn">
    <part name="parameters" element="s0:LoadFileData" />
  </message>
  <message name="LoadFileDataSoapOut">
    <part name="parameters" element="s0:LoadFileDataResponse" />
  </message>
  <message name="LoadFileDataServiceTicket">
    <part name="ServiceTicket" element="s0:ServiceTicket" />
  </message>
  <message name="CreateFileSoapIn">
    <part name="parameters" element="s0:CreateFile" />
  </message>
  <message name="CreateFileSoapOut">
    <part name="parameters" element="s0:CreateFileResponse" />
  </message>
  <message name="CreateFileServiceTicket">
    <part name="ServiceTicket" element="s0:ServiceTicket" />
  </message>
  <message name="DeleteFileSoapIn">
    <part name="parameters" element="s0:DeleteFile" />
  </message>
  <message name="DeleteFileSoapOut">
    <part name="parameters" element="s0:DeleteFileResponse" />
  </message>
  <message name="DeleteFileServiceTicket">
    <part name="ServiceTicket" element="s0:ServiceTicket" />
  </message>
  <message name="CommitDataSoapIn">
    <part name="parameters" element="s0:CommitData" />
  </message>
  <message name="CommitDataSoapOut">
    <part name="parameters" element="s0:CommitDataResponse" />
  </message>
  <message name="CommitDataServiceTicket">
    <part name="ServiceTicket" element="s0:ServiceTicket" />
  </message>
  <message name="CopyFileSoapIn">
    <part name="parameters" element="s0:CopyFile" />
  </message>
  <message name="CopyFileSoapOut">
    <part name="parameters" element="s0:CopyFileResponse" />
  </message>
  <message name="CopyFileServiceTicket">
    <part name="ServiceTicket" element="s0:ServiceTicket" />
  </message>
  <message name="AuthenticateSoapIn">
    <part name="parameters" element="s0:Authenticate" />
  </message>
  <message name="AuthenticateSoapOut">
    <part name="parameters" element="s0:AuthenticateResponse" />
  </message>
  <message name="LogoutSoapIn">
    <part name="parameters" element="s0:Logout" />
  </message>
  <message name="LogoutSoapOut">
    <part name="parameters" element="s0:LogoutResponse" />
  </message>
  <message name="LogoutServiceTicket">
    <part name="ServiceTicket" element="s0:ServiceTicket" />
  </message>
  <portType name="FileDataWebGatewaySoap">
    <operation name="LoadFileData">
      <input message="s0:LoadFileDataSoapIn" />
      <output message="s0:LoadFileDataSoapOut" />
    </operation>
    <operation name="CreateFile">
      <input message="s0:CreateFileSoapIn" />
      <output message="s0:CreateFileSoapOut" />
    </operation>
    <operation name="DeleteFile">
      <input message="s0:DeleteFileSoapIn" />
      <output message="s0:DeleteFileSoapOut" />
    </operation>
    <operation name="CommitData">
      <input message="s0:CommitDataSoapIn" />
      <output message="s0:CommitDataSoapOut" />
    </operation>
    <operation name="CopyFile">
      <input message="s0:CopyFileSoapIn" />
      <output message="s0:CopyFileSoapOut" />
    </operation>
    <operation name="Authenticate">
      <input message="s0:AuthenticateSoapIn" />
      <output message="s0:AuthenticateSoapOut" />
    </operation>
    <operation name="Logout">
      <input message="s0:LogoutSoapIn" />
      <output message="s0:LogoutSoapOut" />
    </operation>
  </portType>
  <binding name="FileDataWebGatewaySoap" type="s0:FileDataWebGatewaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="LoadFileData">
      <soap:operation soapAction="http://FrontDesk/WebServices/LoadFileData" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:LoadFileDataServiceTicket" part="ServiceTicket" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateFile">
      <soap:operation soapAction="http://FrontDesk/WebServices/CreateFile" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:CreateFileServiceTicket" part="ServiceTicket" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteFile">
      <soap:operation soapAction="http://FrontDesk/WebServices/DeleteFile" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:DeleteFileServiceTicket" part="ServiceTicket" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CommitData">
      <soap:operation soapAction="http://FrontDesk/WebServices/CommitData" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:CommitDataServiceTicket" part="ServiceTicket" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CopyFile">
      <soap:operation soapAction="http://FrontDesk/WebServices/CopyFile" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:CopyFileServiceTicket" part="ServiceTicket" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Authenticate">
      <soap:operation soapAction="http://FrontDesk/WebServices/Authenticate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Logout">
      <soap:operation soapAction="http://FrontDesk/WebServices/Logout" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:LogoutServiceTicket" part="ServiceTicket" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FileDataWebGateway">
    <port name="FileDataWebGatewaySoap" binding="s0:FileDataWebGatewaySoap">
      <soap:address location="http://localhost/FrontDeskServices/filedataservice.asmx" />
    </port>
  </service>
</definitions>