FrontDesk.Applications.Submission/Web References/CourseService/coursedatasvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://FrontDesk/WebServices" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://FrontDesk/WebServices" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://FrontDesk/WebServices">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetAssignments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="courseID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssignmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAssignmentsResult" type="s0:ArrayOfAssignment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAssignment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Assignment" nillable="true" type="s0:Assignment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Assignment">
        <s:complexContent mixed="false">
          <s:extension base="s0:DataComponent">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CourseID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ContentID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="StudentRelease" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ResultRelease" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Creator" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DueDate" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DataComponent" abstract="true" />
      <s:element name="ServiceTicket" type="s0:ServiceTicket" />
      <s:complexType name="ServiceTicket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ident" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="HostAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="s0:ServiceTicket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType />
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </types>
  <message name="GetAssignmentsSoapIn">
    <part name="parameters" element="s0:GetAssignments" />
  </message>
  <message name="GetAssignmentsSoapOut">
    <part name="parameters" element="s0:GetAssignmentsResponse" />
  </message>
  <message name="GetAssignmentsServiceTicket">
    <part name="ServiceTicket" element="s0:ServiceTicket" />
  </message>
  <message name="AuthenticateSoapIn">
    <part name="parameters" element="s0:Authenticate" />
  </message>
  <message name="AuthenticateSoapOut">
    <part name="parameters" element="s0:AuthenticateResponse" />
  </message>
  <message name="LogoutSoapIn">
    <part name="parameters" element="s0:Logout" />
  </message>
  <message name="LogoutSoapOut">
    <part name="parameters" element="s0:LogoutResponse" />
  </message>
  <message name="LogoutServiceTicket">
    <part name="ServiceTicket" element="s0:ServiceTicket" />
  </message>
  <portType name="CourseDataServiceSoap">
    <operation name="GetAssignments">
      <input message="s0:GetAssignmentsSoapIn" />
      <output message="s0:GetAssignmentsSoapOut" />
    </operation>
    <operation name="Authenticate">
      <input message="s0:AuthenticateSoapIn" />
      <output message="s0:AuthenticateSoapOut" />
    </operation>
    <operation name="Logout">
      <input message="s0:LogoutSoapIn" />
      <output message="s0:LogoutSoapOut" />
    </operation>
  </portType>
  <binding name="CourseDataServiceSoap" type="s0:CourseDataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetAssignments">
      <soap:operation soapAction="http://FrontDesk/WebServices/GetAssignments" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:GetAssignmentsServiceTicket" part="ServiceTicket" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Authenticate">
      <soap:operation soapAction="http://FrontDesk/WebServices/Authenticate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Logout">
      <soap:operation soapAction="http://FrontDesk/WebServices/Logout" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:LogoutServiceTicket" part="ServiceTicket" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CourseDataService">
    <port name="CourseDataServiceSoap" binding="s0:CourseDataServiceSoap">
      <soap:address location="http://localhost/FrontDeskServices/coursedatasvc.asmx" />
    </port>
  </service>
</definitions>